.vscode/
.idea/
_/
node_modules/
nodes/
!nodes/.gitkeep
npm-debug.log
lerna-debug.log
tsconfig.tsbuildinfo
schema.graphql
packages/.DS_Store
packages/server/.DS_Store
.DS_Store
.env
sandbox
*.log
playground
sample.aws.policy.json
playground/
clean-scripts.sh